==============DEFINING APPLICATION REQUIREMENTS AND BUSINESS RULES================

Concepts:

Functional Requirements (RF): Are the requirements by itself. Ex:
Should be possible to list all cars.
Should be possible to register a new user.

----------

Not Functional Requirements (RNF): Are tecnologies used to run functional 
requirements. Ex:

Must be use Multer for doing user avatar upload.

Business Rules (RN): Are logical busines rules used as conditions for the 
requirements. Ex:

The user must be logged to  list cars.
Should not be possible to register a new user with same email or cpf.

----------------------------------------------------------------------------------

Example of a real application requirements and business rules:

car registration
RF

It should be possible to buy a new car.
RN

It should not be possible to register a car with an existing license plate.
The car must be registered, by default, with availability.
The user responsible for the registration must be an administrator user.
car listing
RF

It should be possible to list all available cars
It should be possible to list all available cars by - category name
It should be possible to list all available cars by - brand name
It should be possible to list all available cars by - car name
RN

The user does not need to be logged into the system.
Specification registration on the car
RF

It must be possible to register a specification for a car
RN

It should not be possible to register a specification for an unregistered car.
It should not be possible to register an existing specification for the same car.
The user responsible for the registration must be a user - administrator.
car image registration
RF

It must be possible to register the image of the car
RNF

Use or multer to upload files
RN

The user must be able to register more than one image for the - same car
The user responsible for the registration must be a user - administrator.
car rental
RF

It must be possible to register a rental
RN

The rental must have a minimum duration of 24 hours.
It should not be possible to register a new lease if it already exists 
It should not be possible to register a new rental if it already exists 
The user must be logged into the application
When making a rental, the car's status must be changed to unavailable
car return
RF

It must be possible to return a car
RN

If the car is charged less than 2 hours, it must - be charged daily.
When making a return, the car must be released for another rental.
When performing a return, the user must be released - another rent.
When carrying out a return, it must be the total calculation - rent.
If the delivery time is longer than the expected time, the days of delay
 must be charged.
If there is a fine, it must be added to the total rent.
The user must be logged into the application
User Rental Listing
RF

It must be possible to search for all rentals for the user
RN

The user must be logged into the application
Recover Password
RF

It must be possible for the user to recover a password by informing the email
The user should be able to enter a new password
RN

User needs to enter a new password
Link sent for recovery must expire in 3 hours
