<html>
<head>
<title></title>
</head>
<body>
	<div class='main-container'>
		<div class='object1'></div>
		<div class='object2'></div>
		<div class='object3'></div>
	</div>
	<style>
		.main-container{
			display: grid;
			grid-template-areas: 'object1 object2 object2' 'object2 object2' 'object3 object3'
			grid-gap: 10px;
		}
		
		.object1{
			width: 33%;
			height: 20vh;
			background-color: cyan;
			grid-area: object1;
		}
		
		.object2{
		width: 100%;
		height: 60vh;
		background-color: red;
		grid-area: object2;
		}
		
		.object3{
		width: 100%;
		height: 20vh;
		background-color: green;
		grid-area: object3;
		}
		
	</style>
</body>
</html>